<div class="container-fluid" [formGroup]="form">
  <div class="row">
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Enter elements" formControlName="array">
    </div>
    <div class="col-6">
        <button (click)="createLinkedList()">Create Linked List</button>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Enter a head index" formControlName="head">
    </div>
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Enter a tail index" formControlName="tail">
    </div>
    
  </div> -->
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Enter a value to insert" formControlName="insertVal">
    </div>
    <div class="col-3">
      <button (click)="linkedList.insert(form.controls.insertVal.value)">Insert</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Enter a value to delete" formControlName="searchVal">
    </div>
    <div class="col-3">
      <button (click)="linkedList.searchAndDelete(form.controls.searchVal.value)">Delete</button>
    </div>
  </div>
</div>