<div class="container-fluid" [formGroup]="form">
  <div class="row">
      <div class="col-12">
          <h3>Binary Search Tree</h3>
        </div>
    </div>
  <!--Enter Elements-->
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Enter elements" formControlName="array">
    </div>
    <div class="col-3">
        <button (click)="createBST()">Create Binary Search Tree</button>
    </div>
  </div>
  
  <!--Insert-->
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Enter a value to insert" formControlName="insertVal">
    </div>
    <div class="col-3">
      <button (click)="bst.insert(inputService.parseInt(form.controls.insertVal.value, 10)); 
                      logBST(); 
                      redraw();">Insert</button>
    </div>
  </div>

  <!--Delete-->
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Enter a value to delete" formControlName="deleteValue">
    </div>
    <div class="col-3">
      <button (click)=" highlightNodeInCanvas(
                          bst.search(bst.root, inputService.parseInt(form.controls.deleteValue.value, 10)), 'identity', 'red'
                        );
                      ">Delete</button>
    </div>
  </div>

   <!--Search-->
   <div class="row">
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Enter a value to search" formControlName="searchVal">
      </div>
      <div class="col-3">
          <input type="text" readonly class="form-control" placeholder="Search result" formControlName="searchResult">
        </div>
      <div class="col-3">
        <button (click)="form.get('searchResult')
                              .setValue(
                                bst.search(bst.root, inputService.parseInt(form.controls.searchVal.value, 10)).data
                                );
                                highlightNodeInCanvas(
                                  bst.search(bst.root, inputService.parseInt(form.controls.searchVal.value, 10)), 'identity'
                                  )">Search</button>
      </div>
    </div>
  

  <!--Get Max-->
  <div class="row">
    <div class="col-3">
        <input type="text" class="form-control" placeholder="Enter a start node value" formControlName="startNode1">
    </div>
    <div class="col-3">
        <input type="text" readonly class="form-control" placeholder="Max" formControlName="maxDisplayVal">
    </div>
    <div class="col-1">
        <button (click)="form.get('maxDisplayVal')
                              .setValue(
                                bst.getMaximum(
                                  bst.search(bst.root, inputService.parseInt(form.controls.startNode1.value))
                                  ).data);
                                  highlightNodeInCanvas(
                                    bst.search(bst.root, inputService.parseInt(form.controls.startNode1.value)), 'max'
                                    )">Get Max</button>
    </div>
  </div>

  <!--Get Min-->
  <div class="row">
      <div class="col-3">
          <input type="text" class="form-control" placeholder="Enter a start node value" formControlName="startNode2">
      </div>
      <div class="col-3">
          <input type="text" readonly class="form-control" placeholder="Min" formControlName="minDisplayVal">
      </div>
      <div class="col-1">
          <button (click)="form.get('minDisplayVal')
                                .setValue(
                                  bst.getMinimum(bst.search(bst.root, inputService.parseInt(form.controls.startNode2.value))
                                  ).data);
                                  highlightNodeInCanvas(
                                    bst.getMinimum(bst.search(bst.root, inputService.parseInt(form.controls.startNode2.value))), 'min'
                                    )">Get Min</button>
      </div>
    </div>


  <!--Tree drawing canvas-->
  <div class="row">
    <div class="col-12">
      <app-canvas [id]="'bst-canvas'"></app-canvas>
    </div>
  </div>
</div>