<div class="container-fluid">
        <div class="row section">
          <div class="col-12">
              <legend>Counting Sort</legend>
          </div>
        </div>
        
        <div class="row section">
          <div class="col-12">
              <input type="text" class="form-control" (input)="B=[]; A = this.inputService.parseInputArr($event.target.value); B.length = A.length" style="width: 25%">
              <button (click)="countingSort()">Counting Sort</button>
          </div>
        </div>
        
        <div class="row section">
          <div class="col-12">
              <input class="form-control" readonly [value]="B" style="width: 25%">
          </div>
        </div>
    </div>
    