<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Stack</h3>
          </div>
      </div>  <div class="row">
    <div class="col-12">
      <input type="text" class="form-control" (input)="inputArray = inputService.parseInputArr($event.target.value)">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <button (click)="createStack()">Create Stack</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button (click)="pop()">Pop</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="text" class="form-control" (input)="setPushValue($event.target.value)" placeholder="enter a value to push onto the stack">
    </div>
    <div class="col-6">
      <button (click)="push()">Push</button>
    </div>
  </div>

  <!--Canvas-->
  <div class="row">
      <div class="col-12">
        <app-canvas [id]="'stack-canvas'"></app-canvas>
      </div>
    </div>
</div>