<div class="container-fluid">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
      
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sorting
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" routerLink="/insertion-sort">Insertion Sort</a>
            <a class="dropdown-item" routerLink="/merge-sort">Merge Sort</a>
            <a class="dropdown-item" routerLink="/quick-sort">Quick Sort</a>
            <a class="dropdown-item" routerLink="/heap-sort">Heap Sort</a>
            <a class="dropdown-item" routerLink="/counting-sort">Counting Sort</a>
            <a class="dropdown-item" routerLink="/radix-sort">Radix Sort</a>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
      
</div>