<div class="container-fluid">
  <div class="row section">
    <div class="col-12">
        <legend>Insertion Sort</legend>
    </div>
  </div>
  
  <div class="row section">
    <div class="col-12">
        <input type="text" class="form-control" (input)="A = this.inputService.parseInputArr($event.target.value); B.length = A.length" style="width: 25%">
        <button (click)="insertionSort()">Insertion Sort</button>
    </div>
  </div>
  
  <div class="row section">
    <div class="col-12">
        <input class="form-control" readonly [value]="B" style="width: 25%">
    </div>
  </div>

  <!--canvas-->
  <div class="row">
    <div class="col-12">
      <canvas id="insertion-sort-canvas" style="background-color: lightgray" [width]="canvasSize.x" [height]="canvasSize.y"></canvas>
    </div>
  </div>

</div>
